
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: darkgrey;
}

#app {
margin: auto;
padding-top: 50px;
}
.container {
width: 150px;
height: 400px;
background-color: black;
margin: auto;
border-radius: 20px;


}
.footer {
    width: 30px;
    height: 200px;
    background-color: black;
    margin: auto;
    padding-top: 200px;

}

.rojo {
    padding-top: 20px;
}

.amarillo {
    padding-top: 20px;
}
.verde {
    padding-top: 20px;
    
}
.btn.btn-danger {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 10px 8px 40px 20px rgb(222, 36, 36);

}

.btn.btn-warning {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 10px 8px 40px 20px rgb(231, 245, 74);
}

.btn.btn-success {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 5px 8px 40px 20px rgb(22, 166, 79);
}