
body {
    background-color: darkgrey;
}

#app {
margin: auto;
padding-top: 50px;
}
.container {
 width: 150px;
height: 400px;
background-color: black;
margin: auto;
border-radius: 20px;
display:flex;
flex-direction: column;
}


.green {
    background-color: rgb(26, 78, 7);
  }
  .yellow {
    background-color: rgb(116, 116, 43);
  }
  .red {
    background-color: rgb(80, 24, 24);
  }  

  .circulo {
    border: 2px solid rgb(68, 63, 63);
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
  }
  
.red.selected {
    background-color: rgb(255, 0, 0);
    box-shadow: #f8ffcc 0px 0px 50px 20px;
  }
  .yellow.selected {
    background-color: yellow;
    box-shadow: #f8ffcc 0px 0px 50px 20px;
  }
  .green.selected {
    background-color: rgb(116, 226, 52);
    box-shadow: #f8ffcc 0px 0px 50px 20px;
  }